<h1>Add Picture</h1>

<form method="POST" enctype="multipart/form-data" action="#" id="picadd">
    <label for="opis">Wpisz Opis</label>
    <br>
    <input type="text" id="opis" name="opis" [(ngModel)]="opis"
        style="background-color: lightsteelblue; color: black; width: 210px;">
    <br>
    <label for="pic">Wstaw Plik</label>
    <br>
    <input #imageInput class="form-control" type="file" name="Image" />
    <br>
    <input type="submit" name="btn" class="btn" value="Dodaj" (click)="addPic(imageInput)"
        style="width: 60px; background-color: #54b7f7; color: white; border-width: 0px; border-radius: 7px; height: 20px;">
</form>
